<!-- ids are included mainly to manipulate the Document Object Model (DOM) with JavaScript -->

<div id="messages" class="messages">
  <div id="messages-table" class="messages-table">
    <% if @messages.any? %>
      <%= render @messages %>
    <% end %>
  </div>
</div>
