<h2>Thank you!</h2>
<p>Your payment of <strong><%= number_to_currency(@amount * 0.01) %></strong>
 has been received.</p>


<img src="http://i0.kym-cdn.com/photos/images/newsfeed/001/072/167/3e2.gif"  width=200 height=200>
