<%= content_for :page_title, 'Make your Account! | Get Paid' %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Get Paid</h1>
      <div>

        <%= render 'account_form' %>
        <p class="text-center">
          <%= link_to 'Collect all info up front', stripe_accounts_full_path %>
        </p>
      </div>
    </div>
  </div>
</div>
