<div id="frame">

  <h1>Avaliable Tutors:</h1>


  <div class="container-fluid tutor_info_container">
    <% @tutors.each do |tutor| %>
      <div class="row tutor_info">
          <span class="col-lg-4"><%= image_tag("avatar.png", size: "70x70") %></span>
          <span class="col-lg-3 tutor_name"><%= tutor.first_name %> <%= tutor.last_name %></span>
          <span class="col-lg-5"><%= link_to "Choose",  tutee_pick_tutor_path(tutor_id: tutor.id), class: "choose_tutor_submit_btn", remote: true %></span>
      </div>
    <% end %>
  </div>
</div>