<div id="frame" class="animated bounceInUp">
  <div class="col-sm-8 col-sm-offset-2 container_box">
    <h1>Tutee#schedule</h1>
    <p>Find me in app/views/tutee/schedule.html.erb</p>

  </div>
</div>
