<div class="container">
  <div class="form-group">
    <label for="sel1">Subject: </label>
    <select class="form-control" id="sel1">
      <% @subjects.each do |subject| %>
      <option><%= subject.abbrev %> - <%= subject.name %></option>
      <% end %>
    </select>

    
  </div>
<div>
