<div class="container">


    <div class="subject-area">
      <%= label_tag(:subject_id, "Subject:") %>
      <%= collection_select :tutoring_session, :subject_id, Subject.all, :id, :abbrev_and_name, :include_blank => true %>
    </div>

<%= submit_tag("Submit") %>

<div>
