<!--============= Tutee Dashbaord ============-->

<div class="dashboard">
	<div id="nav_container">
		<nav>
			<ul>
				<a href="find_tutor" target="tutee_view_frame"><li> Find Tutor</li></a>
				<a href="schedule" target="tutee_view_frame"><li>Schedule</li></a>
				<a href="messenger" target="tutee_view_frame"><li>Messenger</li></a>
				<a href="tips_management" target="tutee_view_frame"><li>Tip Management</li></a>
			</ul>
		</nav>
	</div>
	<div id="frame_container">
		<iframe src="find_tutor" name="tutee_view_frame" class="board"></iframe>
	</div>
</div>