<div class="container-fluid">
  <div class="row">
    <%= render 'tutee/navigation_bar' %>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <!--Sidebar content-->
			<%= render 'tutee/side_navigation_bar' %>
    </div>
    <div class="col-xs-9">
      <!--Body content-->
			<main>
					<div id="outer_frame">
						<!-- This frame is being replaced with another page from the dashboard -->

										<%= render "tutee/find_tutor"%>
						</div>
				<%= image_tag "cloud.png", class: "cloud" %>
			</main>
    </div>
  </div>
</div>
