<%= render 'layouts/navigation_bar' %>

<!--============= Tutee Dashbaord ============-->


<div class="row dashboard">
	<div id="nav_container" class="col-lg-2 col-sm-4 hidden-xs">
		<nav>
			<ul>
				<%=link_to "Find Tutor", tutee_find_tutor_path, remote: true, class: "btn"  %></li>


				<a href="schedule" target="tutee_view_frame" onclick="enable_selected('tutee_option_2', 4)">
					<li id="tutee_option_2">Schedule</li>
				</a>
				<a href="/chat/index" target="tutee_view_frame" onclick="enable_selected('tutee_option_3', 4)">
					<li id="tutee_option_3">Messenger</li>
				</a>
				<a href="tips_management" target="tutee_view_frame" onclick="enable_selected('tutee_option_4', 4)">
					<li id="tutee_option_4">Tip Management</li>
				</a>
				<%= link_to home_authentication_path do %>
					<li>>Switch role<</li>
				<% end %>
			</ul>
		</nav>
	</div>

	<div class="">
		<!-- This frame is being replaced with another page from the dashboard -->
		<div id="frame">
			
		</div>
	</div>
</div>
