<h1>List of Tutors based on the tutee's form.</h1>
<br />



<div class="container">
  <h4> Tutoring Sessions</h4>
  <table class="table table-striped">
    <tr>
      <th>user_id</th>
      <th>course_id</th>
      <th>question</th>
    </tr>
    <% @tutoring_sessions.each do |f| %>
      <tr>
        <td><%= f.user_id %></td>
        <td><%= f.course_id %></td>
        <td><%= f.question %></td>
      </tr>
    <% end %>
  </table>
</div>
