<!--=============CHOOSE ROLE PAGE=================-->

<div class="container text-center" id="button-box">

	<!--Need to vertify if already sign up as a tutor-->
	<%= link_to tutor_index_path do %>
    	<div class="col-md-2 col-md-offset-2">
			<button type="button" class="btn btn-primary btn-lg">Tutor</button>
		</div>
	<% end %>

	<%= link_to tutee_index_path do %>
    	<div class="col-md-2 col-md-offset-3">
			<button type="button" class="btn btn-secondary btn-lg">Tutee</button>
		</div>
	<% end %>
	
</div>
