
<div id="header" class="text-center box" style="background-image: url(https://source.unsplash.com/omeaHbEFlN4)">
		<h1>Main Page</h1>
		<div>
		<button type="button" class="btn btn-info btn-lg"><%= link_to "Start", home_authentication_path%></button>
			
</div>

