<div id="frame" class="animated bounceInUp">
  <div class="container_box">
    <div class="offline_alert_box">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>   You are Off-line!</h4>
        <p>Go Live to see new requests come in.</p>
      </div>
    </div>
  </div>

</div>
