

<div id="frame">
	<h1>Tutor Profile Edit</h1>
	
	<%= form_for current_user, url: tutor_tutor_profile_update_path, html: {multipart: true } do |form| %>
  	<%= form.file_field :avatar %>
  	<%= form.submit %>
	<% end %>
</div>

