<%= render 'layouts/navigation_bar' %>

<div class="register_form">
	<h5>Fill out this form to become a tutor: </h5>
	<!--Register button here-->
	<div id="register_box">
		<%= button_to 'Register', { :controller => "tutor", :action => "update"}, :class => "register_btn" %>
	</div>
</div>