<!--============= Tutor Dashbaord ============-->

<div class="dashboard">
	<div id="nav_container">
		<nav>
			<ul>
				<a href="incoming_requests" target="tutor_view_frame"><li> Incoming Request</li></a>
				<a href="currently_tutoring" target="tutor_view_frame"><li>Currently Tutoring</li></a>
				<a href="messenger" target="tutor_view_frame"><li>Messenger</li></a>
				<a href="piggy_bank" target="tutor_view_frame"><li>Piggy Bank</li></a>
				<a href="tutor_profile" target="tutor_view_frame"><li>Tutor Profile</li></a>
			</ul>
		</nav>
	</div>
	<div id="frame_container">
		<iframe src="incoming_requests" name="tutor_view_frame" class="board"></iframe>
	</div>
</div>

<!--SCRIPT-->