<h1>Tutor#piggy_bank</h1>
<p>Find me in app/views/tutor/piggy_bank.html.erb</p>



<%= link_to "Create Stripe Account", new_stripe_account_path, class: "btn btn-xl btn-primary btn-custom btn-block shadow-sm" %>
