<div id="frame">
  <% users ||= @users %>
  <% conversations ||= @conversations %>
  <% if users.nil? %>
  <h1>You have no messages.</h1>
  <% else %>
  <div class="row">

    <div class="col-md-9">
      <ul id="conversations-list">
        <% if conversations[0] != nil %>
          <% conversations.each do |conversation| %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="col-md-3">
        <% users.each do |user| %>
        <!-- Workaround: this link is triggered automaticly when this page loads. -->
          <%= link_to "", conversations_path(user_id: user), remote: true, method: :post, id: "open_chat" %>
        <% end %>
    </div>
  </div>
</div>
<% end %>
