// Place all the styles related to the Currency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-button-el {
  width: 200px;
  border-radius: 0;
  background-image: none;
  background-color: green;
  
}

.stripe-button-el span {
  font-family: arial;
  font-size: 20px;
  border-radius: 0;
  background-image: none;
  background-color: green;
}
