// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	box-sizing: border-box;
}

body.home-index {
	background-image: url(asset-path('bg.png'));
	background-size: 100%;
	background-repeat: no-repeat;
}
.style_text {
	color: #190455;
}

.center {
	bottom: 0;
	margin: auto;
	width: 100%;
}

#main-header {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.2rem;
	letter-spacing: 0.7px;
	padding: 30px 0;
}

#doodle_img {
	width: 100%;
}

#steps {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 2rem;
}

#start_img {
	margin: 0 auto;
    position: relative;
	bottom: 0;
	width: 10%; 
    height: auto;
	background-size: contain;	
	background-repeat: no-repeat;
}

#start_img:hover {
	background-image: url(asset-path('startButtonHover.png'));
}

/*======= MEDIA QUERIES ========*/

@media only screen and (max-width: 1339px){
	body.home-index {
		background-image: url(asset-path('bg-md.png'));
	}
	#steps {
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 1000px){
	#steps {
		font-size: 2rem;
	}
	#start_img {
		width: 20%;
	}
}

@media only screen and (max-width: 730px){
	body.home-index {
		background-image: url(asset-path('bg-sm.png'));
	}
}

@media only screen and (max-width: 565px){
	body.home-index {
		background-image: url(asset-path('bg-xs.png'));
	}
	#steps {
		font-size: 1.5rem;
	}
	#start_img {
		width: 30%;
	}
}