// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
    height:100%;
}

* {
	box-sizing: border-box;
}

body #main_page_body {
	background-image: url(asset-path('bg.png'));
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
}
.style_text {
	color: #190455;
	text-decoration: none;
}

.center {
	bottom: 0;
	margin: auto;
	width: 100%;
}

#main-header {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3.5rem;
	letter-spacing: 0.7px;
	padding: 30px 0;
}

#doodle_img {
	width: 100%;
}

#steps {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 2rem;
	padding-bottom: 5px;
}

#start_img {
	margin: 0 auto;
    position: relative;
	width: 10%;
    height: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

#start_img:hover {
	background-image: url(asset-path('startButtonHover.png'));
}

/*========= ROLE PAGE ==========*/
body #role_container {
	background-image: url(asset-path('rolebg.png'));
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;
}
#role_text h1 {
	padding-top: 50%;
	font-size: 5rem;
}
#role_text p {
	font-size: 2rem;
}
.font_style {
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}
.role_img p {
	font-size: 3.5rem;
}
#tutee_img {
	position: relative;
	width: 100%;
}
#tutor_img {
	position: relative;
	width: 100%;
}
#tutee_img:hover {
	background-image: url(asset-path('tuteerole-hover.png'));
	background-size: contain;
	background-repeat: no-repeat;
}
#tutor_img:hover {
	background-image: url(asset-path('tutorrole-hover.png'));
	background-size: contain;
	background-repeat: no-repeat;
}

/*======= MEDIA QUERIES ========*/

@media only screen and (max-width: 1200px){
	body.home-index {
		background-image: url(asset-path('bg-md.png'));
	}
	body.home-authentication {
		background-image: url(asset-path('rolebg-md.png'));
	}
	#steps {
		margin-bottom: 4rem;
	}
}

@media only screen and (max-width: 1000px){
	#steps {
		font-size: 2rem;
	}
	#start_img {
		width: 20%;
	}
	#role_text h1 {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 730px){
	body.home-index {
		background-image: url(asset-path('bg-sm.png'));
	}
	body.home-authentication {
		background-image: url(asset-path('rolebg-sm'));
	}
}

@media only screen and (max-width: 565px){
	body.home-index {
		background-image: url(asset-path('bg-xs.png'));
	}
	#steps {
		font-size: 1.5rem;
	}
	#start_img {
		width: 30%;
	}
	#role_text h1 {
		font-size: 2rem;
	}
	#role_text p {
		font-size: 1rem;
	}
	.role_img p {
		font-size: 2.2rem;
	}
}
