// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Sign up page background image*/
body.registrations-new {
	background-image: url(asset-path('loginbg.png'));
	background-size: 100%;
}
/*Login page background image*/
body.sessions-new {
	background-image: url(asset-path('loginbg.png'));
	background-size: 100%;
}

.form_container {
	width: 56%;
	min-width: 765px;
	height: 570px;
	margin: 0 auto;
	background-color: white;
	border: 5px solid #190455;
	border-radius: 10px;
	box-shadow: 30px 30px 0px #190455; /*#80E3FD*/
}

.form_header {
	position: relative;
	width: 100%;
	border-bottom: 4px solid #190455;
}

.form_header div {
	display: inline-block;
	width: 50%;
	text-align: center;
	padding: 40px;
	font-family: 'Nunito', sans-serif;
	font-size: 2.3rem;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	color: #190455;
}

.other_form_button:hover {
	background-color: #F4EDFE;
	transition: 0.25s;
}

#seperator {
	width: 5px;
	background-color: pink;
}

.right_border {
	border-right: 4px solid #190455;
}

.selected {
	background-color: #F4EDFE;
}

.fill_in_container {
	padding: 40px;
}

.form_label {
	color: #190455;
	padding: 1rem;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	-webkit-transition: all 0.25s;
  	transition: all 0.25s;
  	pointer-events: none;
}

.field input:focus ~ label {
	font-size: 0.75em;
  	color: lightgray;
  	top: -2rem; /*move to the top -2*/
  	-webkit-transition: all 0.125s;
  	transition: all 0.125s;
}

.field {
	float: left;
  	width: 47%;
  	margin: 10px 10px 30px 10px;
  	position: relative;
  	font-size: 2rem;
}

.field input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 4px solid black;
	padding: 10px 30px 5px 30px;
	font-size: 1.5rem;
	width: 100%;
}

.field input:valid ~ label {
	font-size: 0.75em;
  	color: lightgray;
  	top: -2rem; /*move to the top -2*/
  	-webkit-transition: all 0.125s;
  	transition: all 0.125s;
}

.field input:valid {
	border-bottom: 4px solid #80E3FD;
}

.field input:focus {
	transition: 0.25s;
	border-bottom: 4px solid #80E3FD;
}
/*Submit button*/ 
.submit_container {
	text-align: center;
}

.submit_btn{
	border-radius: 2px black solid;
}

/* ============== MEDIA QUERIES ================ */

@media only screen and (max-width: 1122px) {
	.form_container {
		min-width: 500px;
	}
	.form_label {
		font-size: 1.5rem;
	}
	.fill_in_container {
		padding: 5px;
		padding-top: 30px;
	}
	.field {
		margin: 7px;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 730px) {
	.form_container {
		min-width: 300px;
		box-shadow: 7px 30px 0px #190455; /*#80E3FD*/
	}
	.fill_in_container {
		padding: 30px;
	}
	.field {
		font-size: 1.3rem;
		width: 100%;
		margin-bottom: 10px;
	}
	.form_label {
		font-size: 1.3rem;
	}
	.form_header div{
		font-size: 1.5rem;
	}

}