// Place all the styles related to the Tutee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tutee-index {
	background-image: url(asset-path('dashboard-bg.png'));
	background-size: 100%;
}
.ts-field label {
  width: 15%;
}
.ts-field select {
  width: 50%;
  height: 30px;
}

#frame {
  width: 70%;
  overflow: scroll;
  border: 5px solid black;
}
