// Place all the styles related to the Tutee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tutee-index {
	//background-image: url(asset-path('dashboard-bg.png'));
	background-size: 100%;
	background-image: url(asset-path('background/diagmonds.jpg'));


}
.ts-field label {
  width: 15%;
}
.ts-field select {
  width: 50%;
  height: 30px;
}

#frame {
	//float: right;
	//margin-right: 100px;

}
.cloud {
	width: 300px;
	margin-top: 150px;
	margin-right: 100px;
	float: right;
}

//FIND TUTOR PAGE:
.request_form_container {

}
#find_tutor_heading {
	color: white;
	font-size: 25pt;
	font-family: 'Work Sans', sans-serif;
	margin-left: 175px;
}
#dash_board_user_name {
	color: white;
	font-family: 'Work Sans', sans-serif;

}
#new_tutoring_session {

}
.submit {
    margin-left: 175px;

}

.side_navigation_bar	{
	font-size: 1.5rem;
	padding: 30px 0;
	margin: auto;
	max-width: 50%
}

.find_tutor_box {
	margin: auto;
	max-width: 50px;
}

.row {
	margin-left: -30px !important;
}
