// Place all the styles related to the Tutee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tutee-index {
	//background-image: url(asset-path('dashboard-bg.png'));
	background-size: 100%;
	background-image: url(asset-path('background/diagmonds.jpg'));

}
.ts-field label {
  width: 15%;
}
.ts-field select {
  width: 50%;
  height: 30px;
}

#frame {
	//float: right;
	//margin-right: 100px;

}
.cloud {
	width: 285px;
	margin-top: 50px;
	margin-right: 90px;
	margin-bottom: 60px;
	float: right;
}

//FIND TUTOR PAGE:
.request_form_container {

}
#find_tutor_heading {
	//color: white;
	font-size: 3em;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
}
#dash_board_user_name {
	color: white;
	font-family: 'Work Sans', sans-serif;

}
#new_tutoring_session {

}
.submit {
  margin-left: 175px;
}

.find_tutor_box {
	margin: auto;
	max-width: 50px;
}

.container_box {
	margin-top: 70px;
}

#find_tutor_box .ft-field {
		width: 100%;
    padding: 20px;
    margin: 8px 0;
    //box-sizing: border-box;
		border: 1.3px solid #DBDBDB;
		border-radius: 10px;
}

#find_tutor_box label {
	font-size: 1.3em;
}

#find_tutor_box .submit {
	background-color: #76BFB5;
}

// _pick_tutor
.cancel {
	width:100%;
	max-width: 500px;
}

#waiting_for_tutor {
	margin: auto;
	max-width: 50%;
	text-align: center;
	margin-top: 110px;
}

#waiting_for_tutor img {
	width: 50%;
	height: auto;
	padding: 50px;
}

#waiting_for_tutor h2 {
	color: #777;
	font-family: 'Work Sans', sans-serif;
}
