// Place all the styles related to the Tutee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ts-field label {
  width: 10%;
}
.ts-field select {
  width: 50%;
  height: 30px;
}
