// Place all the styles related to the Tutor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.tutor-index {
	background-image: url(asset-path('dashboard-bg.png'));
	background-size: 100%;
}
.dashboard {
	position: relative;
	width: 100%;
	height: 650px;
	text-align: center;
	margin: 20px;
}

#nav_container {
	position: relative;
	width: 20%;
	height: auto;
	float:left;
	margin: 20px;
	margin-right: 35px;
}

#nav_container ul {
	margin: 0 auto;
	padding: 0;
    display:table;
    width:100%;
    border: 5px solid #190455;
    border-radius: 5px;
    background-color: white;
}

#nav_container ul li {
	list-style: none;
	padding: 25px 10px;
	border-bottom: 3px solid #190455;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: #190455;
}

#nav_container ul li:hover{
	background-color: #F4EDFE !important;
}

.dashboard nav ul a {
	text-decoration: none;
}

#frame_container {
	position: relative;
	width: 70%;
	height: auto;
	overflow: hidden;
	border: 5px solid #190455;
	border-radius: 5px;
	margin: 10px;
	background-color: white;
	box-shadow: 10px 10px 0px #190455; /*#80E3FD*/
	height: 600px;
	/*Loading image*/
	background-image: url(asset-path('Loading.gif'));
	background-size: 50%;
	background-repeat: no-repeat;
    background-position: center;
}

#tutor_view_frame {
	background-color: white;
	height: 100%;
}

.board {
	border-style: none;
	width: 100%;
	height: 620px;
}

.option_selected {
	background-color: #F4EDFE;
}

#live_btn {
	margin: 0 auto;
	width: 15%;
}

@media only screen and (max-width: 730px){
	.dashboard {
		margin: 0px;
	}
	#frame_container {
		width: 95%;
		box-shadow: -5px 5px 0px #190455;
		margin: 0 auto;
	}
}
